* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
}

main {
  font-size: calc(0.4vw + 12px);
  padding-top: 4.5em;
  padding-bottom: 10em;

  .sectionPhotos {
    margin-top: 4.5em;
  }

  .yearsSection {
    background-image: url("images/gallery-jumbotron-background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30em;
    margin-top: -2em;

    h1 {
      color: white;
      font-size: 4em;
      text-transform: uppercase;
      font-weight: 700;
      flex-grow: 5;
      padding-top: 3em;
    }

    .years {
      width: 100%;
      flex-grow: 1;
      display: flex;
      justify-content: center;

      ul {
        list-style-type: none;
        display: flex;

        li {
          margin: 0 1em;

          a {
            text-decoration: none;
            color: white;
            font-size: 1.8em;
          }
        }
      }
    }
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      font-size: 4em;
    }

    h3 {
      margin: 2em 1em 4em;
    }

    .containerGallery {
      margin: 0 10%;
    }

    .gallery {
      display: flex;
      flex-wrap: wrap;

      .gallery__item {
        margin: 1em;
        transition: 0.2s ease-in-out;
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
      }

      .gallery__item:hover {
        transform: scale(1.02);
      }

      .gallery__item--daugiau {
        position: absolute;
        color: white;
        z-index: 1;
      }

      .gallery__item--lastImg {
        filter: blur(4px);
        border: 1px solid black;
        z-index: 0;
      }

      img {
        width: 23em;
      }
    }
  }
}
// Nuotraukos modal

.modal--background {
  background-color: #3e3d43;
  border: none;
}

.modalWindows {
  .modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-content {
    width: calc(57vw + 200px);
  }
}

.modal--style {
  max-width: 100%;
  height: 100%;
  margin: 0;
}

.modal--caption {
  position: absolute;
  left: 5em;
  top: 7em;
  z-index: 1;
  letter-spacing: 0.2em;

  span {
    color: white;
    display: block;
    margin-bottom: 0.5em;
    font-size: 1.6em;
  }

  span:last-child {
    border-top: 1px solid white;
    padding-top: 0.5em;
  }
}

.close--button {
  color: white;
  border: none;
  background: none;
  font-size: 1.6em;
  position: absolute;
  right: 2em;
  top: 2em;
}
@media (max-width: 1799px) {
  main {
    section {
      .containerGallery {
        max-width: 70em;

        h3 {
          margin: 2em 1em;
        }

        .gallery__item {
          width: 46%;

          img {
            width: 100%;
          }
        }
      }
    }
  }
}
@media (max-width: 1645px) {
  .modal--caption {
    left: 2em;
    top: 1em;

    span {
      margin: 0;
      font-size: 1.2em;
    }

    span:last-child {
      padding: 0;
    }
  }
}
@media (max-width: 1000px) {
  main {
    font-size: calc(0.4vw + 12px);

    section {
      .containerGallery {
        max-width: 50em;
        margin: 0 5%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .gallery {
          display: flex;
          flex-direction: column;

          .gallery__item {
            width: auto;
          }

          img {
            width: 85vw;
          }
        }
      }
    }
  }
}