:root {
  font-size: 16px; }

body {
  margin: 0;
  font-family: 'Raleway', sans-serif; }

.section {
  height: 89vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative; }

.section__pirma {
  background-image: url("images/pirma-background.svg");
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: calc(0.4vw + 12px); }

.section__heading--pirma {
  color: white;
  text-transform: uppercase;
  width: 50%;
  font-size: 7em;
  font-weight: bolder;
  margin-bottom: 5rem;
  margin-right: 9rem; }

.section__heading--pirma::after {
  display: none; }

.section__antra {
  background-image: url("images/antras-background.svg");
  background-position: 100px 0; }

.section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 8rem;
  padding: 5rem; }

.section__content--antra {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70%; }

.section__heading {
  text-transform: uppercase;
  font-weight: bold; }

.section__heading--antra {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 3rem;
  font-size: 4rem; }

.section__heading::after {
  content: "";
  width: 50px;
  height: 50px;
  background-color: #FFBE08;
  border-radius: 50%;
  position: absolute;
  right: -62.5px;
  top: 12.5px;
  -webkit-box-shadow: -5px 0px 15px grey;
          box-shadow: -5px 0px 15px grey; }

.section__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("images/antra-video-photo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 50%; }

.section__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 40%;
  height: 100%;
  padding: 4rem;
  padding-right: 0;
  padding-top: 2rem;
  font-size: 1.5vw;
  z-index: 1; }

.skaityti {
  position: absolute;
  bottom: 150px;
  right: 30px;
  font-weight: bold; }

.skaityti::after {
  content: "";
  background-image: url("images/db-arrow.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 12px;
  height: 12px;
  bottom: calc(50% - 6px);
  right: -20px; }

.section__komanda {
  background-color: #FFBE08;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 140vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start; }

.section__komanda::after {
  content: url("images/v-linija-trumpa-juoda.svg");
  position: absolute;
  width: 2px;
  top: -177px;
  opacity: 0.8;
  z-index: 0; }

.section__komanda::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  top: -25px;
  background-color: #333338;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 40px 1px black;
          box-shadow: 0 0 40px 1px black; }

.section__heading--komanda {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem; }

.section__heading--komanda::after {
  display: none; }

.section__komanda__vidinis {
  height: 60%;
  width: 100%;
  background-color: #333338;
  position: relative; }

.vidinis__person {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 1rem;
  color: white; }

.vidinis__person > * {
  opacity: 0; }

.aktyvus > * {
  opacity: 1;
  z-index: 99; }

.vidinis__person--name {
  width: 100%;
  border-bottom: 1px solid grey;
  position: relative; }

.vidinis__person--name::after {
  content: url("images/v-linija-trumpa.svg");
  width: 2px;
  left: calc(50% - 1px);
  top: -54px;
  position: absolute; }

.vidinis__person--text {
  height: 200px;
  margin-top: 2.5rem;
  text-align: right;
  font-size: calc(1vw + 14px);
  position: relative; }

.vidinis__person--text::before {
  content: url("images/kabutes.svg");
  position: absolute;
  top: -35px;
  left: 0;
  width: 20px; }

.vidinis__person--pav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 190px;
  position: absolute; }

.vidinis__person--second {
  z-index: 10; }

.aktyvus > .vidinis__person--pav {
  bottom: -300px;
  left: calc(50% - 95px); }

.vidinis__person--second > .vidinis__person--pav {
  opacity: 0.8;
  bottom: -310px;
  left: calc(50% - 85px); }

.vidinis__person--third > .vidinis__person--pav {
  opacity: 0.8;
  bottom: -320px;
  left: calc(50% - 75px); }

.vidinis__person--image {
  width: 100%;
  height: 100%;
  max-width: 300px;
  margin: 1rem auto 0rem auto;
  -o-object-fit: contain;
     object-fit: contain; }

.vidinis__person--caption {
  text-transform: uppercase;
  margin: auto;
  margin-top: 0;
  font-size: 1.2rem;
  background-color: #333338;
  width: 100%;
  max-width: 300px;
  text-align: center;
  padding: 1rem; }

.arrow {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: -75px;
  right: 1vw; }

.left-arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  left: 1vw; }

.skaityti--komanda {
  bottom: 10px; }

@media (max-width: 991px) {
  .section__pirma {
    background-image: url("images/pirma-background-mobile.svg");
    background-position: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 139vh; }
  .section__pirma::after {
    content: url("images/v-linija-1.svg");
    position: absolute;
    width: 2px;
    opacity: 0.8; }
  .section__heading--pirma {
    margin: 0;
    margin-top: 8rem;
    width: auto;
    text-align: center;
    font-size: calc(0.4vw + 3em);
    z-index: 1; }
  .section__heading--antra {
    -webkit-transform: none;
            transform: none;
    top: -100px;
    left: calc(50% - 44px);
    color: white;
    font-size: 2.5rem; }
  .section__heading--antra::after {
    top: -75px;
    left: calc(50% - 25px);
    -webkit-box-shadow: 0px 5px 15px black;
            box-shadow: 0px 5px 15px black; }
  .section__antra {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-position: center;
    background-image: none;
    height: 150vh; }
  .section__content--antra {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    padding: 0; }
  .section__video {
    background-size: cover;
    width: 100%;
    height: 60%; }
  .section__text {
    width: 100%;
    height: 60%;
    padding: 1.2rem;
    font-size: calc(1.7vw + 13px);
    background-color: #fff; } }
