:root {
  --person__text--bg-grey: #4E4D5C;
  --person__text--bg-black: #333338;
  --main__text--tx-color: white;
}
body {
  margin: 0;
  font-family: 'Raleway', sans-serif; }

.header {
  position: relative;
  top: 4.5rem;
  width: 100%;
  height: 62vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15rem;
  background-image: url('images/top.jpg');
  background-size: cover;
  -webkit-filter: contrast(150%);
          filter: contrast(150%);
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--person__text--bg-grey);
  opacity: 0.5;
  z-index: -1;
}

.header h2 {
  color: var(--main__text--tx-color);
  font-size: 2.5rem;
  font-weight: 500;
  z-index: 1; }

.person {
  width: 65vw;
  margin: 7rem auto; }

.person__image, .person__name, .person__text {
  display: block; }

.person__name h3 {
  font-size: 1.5rem; }

.person__image {
  position: absolute;
  width: 180px;
  height: 180px;
  background-size: cover;
  z-index: -1; }

.person--left .person__image {
  top: -75px;
  left: -50px;
}

.person--right .person__image {
  top: -75px;
  right: -50px;
}

.person__image--agne {background-image: url('images/agne.jpg');}
.person__image--aiste {background-image: url('images/aiste.jpg');}
.person__image--alicija {background-image: url('images/alicija.jpg');}
.person__image--gabriele {background-image: url('images/gabriele.jpg');}
.person__image--indre {background-image: url('images/indre.jpg');}
.person__image--karolina {background-image: url('images/karolina.jpg');}
.person__image--kasparas {background-image: url('images/kasparas.jpg');}
.person__image--kristina {background-image: url('images/kristina.jpg');}
.person__image--nike {background-image: url('images/nike.jpg');}
.person__image--nora {background-image: url('images/nora.jpg');}
.person__image--paule {background-image: url('images/paule.jpg');}
.person__image--vitalija {background-image: url('images/vitalija.jpg');}
.person__image--zivile {background-image: url('images/zivile.jpg');}

.person__text {
  position: relative;
  color: var(--main__text--tx-color);
  font-family: 'Raleway', sans-serif;
  text-align: left;
  z-index: -2

}

.person--left .person__text {
  background: var(--person__text--bg-grey);
  padding: 4rem 4rem 4rem 12rem;
  left: 25px;
}

.person--right .person__text {
  background: var(--person__text--bg-black);
  padding: 4rem 12rem 4rem 4rem;
  right: 25px;
}

@media (max-width: 1300px) {
  .header {
    height: 73vh;
  }
  .person__image {
    width: 170px;
    height: 170px;
    } }

@media (max-width: 1200px) {
  .header {
    height: 68vh; }
  .person__image {
    width: 160px;
    height: 160px;}
  .person--left .person__image {
    top: -65px;
    left: -45px;}
  .person--right .person__image {
    top: -65px;
    right: -45px;} }

@media (max-width: 1100px) {
  .header {
    height: 62vh; }
  .person__image {
    width: 155px;
    height: 155px; }
  .person--left .person__image {
    top: -60px;
    left: -40px;}
  .person--right .person__image {
    top: -60px;
    right: -40px; } }

@media (max-width: 991px) {
  .header {
    height: 56vh;
    margin-bottom: 14rem;
  }
  .header h2 {
    font-size: 2rem;
  }
  .person--left .person__image {
    top: -60px;
    left: -40px; }
  .person--right .person__image {
    top: -60px;
    right: -40px; }
  .person--left .person__text {
    padding: 3rem 3rem 3rem 10rem;
    left: 1.3rem; }
  .person--right .person__text {
    padding: 3rem 10rem 3rem 3rem;
    right: 1.3rem; } }


@media (max-width: 535px) {
  .header {
    height: 30vh;
    margin-bottom: 12rem;
  }
  .person__name, .person__text {
    font-size: 0.9em; }
  .person--left .person__name {
  margin-left: 25px; }
  .person__image {
    width: 130px;
    height: 130px; }
  .person--left .person__image {
    top: -55px;
    left: -40px;}
  .person--right .person__image {
    top: -55px;
    right: -40px; }
  .person--left .person__text {
    padding: 2.8rem 1rem 1rem 4.9rem;
    left: 1.3rem; }
  .person--right .person__text {
    padding: 4.9rem 1rem 1rem 2.8rem;
    right: 1.3rem; }
  .header h2 {
    font-size: 1.5rem;
  } }

@media (max-width: 380px) {
  .header {
    margin-bottom: 10rem;
    height: 20vh;
    }
  .header h2 {
    font-size: 0.8rem;
  }
  .person__text {
    font-size: 1rem; }
  .person {
    width: 85vw; } }
