
* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Raleway", sans-serif; }

main {
  font-size: calc(0.4vw + 12px);
  padding-top: 4.5em;
  padding-bottom: 10em; }
  main .sectionPhotos {
    margin-top: 4.5em; }
  main .yearsSection {
    background-image: url("images/gallery-jumbotron-background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30em;
    margin-top: -2em;
    }
    main .yearsSection h1 {
      color: white;
      font-size: 4em;
      text-transform: uppercase;
      font-weight: 700;
      -webkit-box-flex: 5;
          -ms-flex-positive: 5;
              flex-grow: 5;
      padding-top: 3em; }
    main .yearsSection .years {
      width: 100%;
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      main .yearsSection .years ul {
        list-style-type: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        main .yearsSection .years ul li {
          margin: 0 1em; }
          main .yearsSection .years ul li a {
            text-decoration: none;
            color: white;
            font-size: 1.8em; }
  main section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    main section h2 {
      font-size: 4em; }
    main section h3 {
      margin: 2em 1em 4em 1em; }
    main section .containerGallery {
      margin: 0 10%; }
    main section .gallery {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      main section .gallery .gallery__item {
        margin: 1em;
        -webkit-transition: 0.2s ease-in-out;
        transition: 0.2s ease-in-out; }
      main section .gallery a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        position: relative;
        overflow: hidden; }
      main section .gallery .gallery__item:hover {
        -webkit-transform: scale(1.02);
                transform: scale(1.02); }
      main section .gallery .gallery__item--daugiau {
        position: absolute;
        color: white;
        z-index: 1; }
      main section .gallery .gallery__item--lastImg {
        -webkit-filter: blur(4px);
                filter: blur(4px);
        border: 1px solid black;
        z-index: 0; }
      main section .gallery img {
        width: 23em; }

.modal--background {
  background-color: #3e3d43;
  border: none; }

.modalWindows .modal-dialog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.modalWindows .modal-content {
  width: calc(57vw + 200px); }

.modal--style {
  max-width: 100%;
  height: 100%;
  margin: 0; }

.modal--caption {
  position: absolute;
  left: 5em;
  top: 7em;
  z-index: 1;
  letter-spacing: 0.2em; }
  .modal--caption span {
    color: white;
    display: block;
    margin-bottom: 0.5em;
    font-size: 1.6em; }
  .modal--caption span:last-child {
    border-top: 1px solid white;
    padding-top: 0.5em; }

.close--button {
  color: white;
  border: none;
  background: none;
  font-size: 1.6em;
  position: absolute;
  right: 2em;
  top: 2em; }

@media (max-width: 1799px) {
  main section .containerGallery {
    max-width: 70em; }
    main section .containerGallery h3 {
      margin: 2em 1em 2em 1em; }
    main section .containerGallery .gallery__item {
      width: 46%; }
      main section .containerGallery .gallery__item img {
        width: 100%; } }

@media (max-width: 1645px) {
  .modal--caption {
    left: 2em;
    top: 1em; }
    .modal--caption span {
      margin: 0;
      font-size: 1.2em; }
    .modal--caption span:last-child {
      padding: 0; } }

@media (max-width: 1000px) {
  main {
    font-size: calc(0.4vw + 12px); }
  main section .containerGallery {
    max-width: 50em;
    margin: 0 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    main section .containerGallery .gallery {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      main section .containerGallery .gallery .gallery__item {
        width: auto; }
      main section .containerGallery .gallery img {
        width: 85vw; } }
