/* sekcija 1 */

.container {
	font-size: 2rem;
	font-family: sans-serif;
	font-weight: 300;
}

.image-block__element {
	width: 20vw;
	height: 50vh;
}

/* sekcija 2 */

.container {
	font-size: 2rem;
	font-family: sans-serif;
	font-weight: 300;
}
