/* sekcija 1 */

.container {
	font-size: 2rem;
	font-family: sans-serif;
	font-weight: 300;
}

.image-block__element {
	width: 20vw;
	height: 50vh;
}

.hero_image {
	background-image: url('');
}

/* sekcija 2 */

.bananmedis {
	color: yellow;
}

.container {
	font-size: 2rem;
	font-family: sans-serif;
	font-weight: 300;
}

.containerrrrr__element {
	display: flex;
	justify-content: center;
	align-items:center;
}

.image-overlay {
	object-fit: cover;
}
