* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Raleway', sans-serif; }

.section {
  height: 89vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  position: relative; }

.section__galerija {
  height: auto;
  background-image: url("images/linijos-galerija.svg");
  background-position: center center;
  background-size: 90%; }

.section__content {
  display: flex;
  margin-left: 8rem;
  padding: 5rem; }

.section__content--galerija {
  flex-direction: column;
  width: 100%;
  margin-right: 8rem;
  margin-bottom: 10rem; }

.galerija__container {
  display: flex;
  justify-content: center; }
  .galerija__container .container__item {
    flex-grow: 1; }
    .galerija__container .container__item img {
      width: 100%;
      flex-grow: 1; }
  .galerija__container .galerija__antra img {
    height: 100%; }
  .galerija__container .galerija__pirma {
    margin-right: 3%; }
    .galerija__container .galerija__pirma img:first-child {
      margin-bottom: 10%; }

.galerija__pirma {
  display: flex;
  flex-direction: column; }

.section__heading {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 4rem; }

.section__heading::after {
  content: "";
  width: 50px;
  height: 50px;
  background-color: #FFBE08;
  border-radius: 50%;
  position: absolute;
  right: -62.5px;
  top: 12.5px;
  box-shadow: -5px 0px 15px grey; }

.section__heading--galerija {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: 9rem;
  position: relative; }

.section__heading--galerija::after {
  left: -62.5px; }

.section__studijos {
  background-image: url("images/linijos-studijos.svg");
  background-color: #FFBE08;
  background-position: center center;
  background-size: cover; }

@media (max-width: 1030px) {
  .section__content--galerija {
    align-items: center;
    margin-right: 0;
    margin-left: 0; }
    .section__content--galerija .section__heading--galerija {
      margin-left: 0; } }

@media (max-width: 710px) {
  .section__galerija::before {
    content: url("images/linija-geltona-trumpa.svg");
    width: 2px;
    position: absolute;
    left: calc(50% - 1px); }
  .section__galerija::after {
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 50%;
    background-color: #FFBE08;
    z-index: 99;
    left: calc(50% - 25px);
    top: 7%;
    box-shadow: 0px 7px 40px 1px black; }
  .section__content--galerija {
    padding: 5rem 2rem; }
    .section__content--galerija .section__heading--galerija {
      font-size: 2rem;
      margin-left: 0; }
    .section__content--galerija .section__heading--galerija::before {
      content: url("images/linija-juoda-ilga.svg");
      width: 2px;
      position: absolute;
      left: calc(50% - 1px); }
    .section__content--galerija .section__heading--galerija::after {
      display: none; }
    .section__content--galerija .galerija__pirma {
      margin-right: 0; }
    .section__content--galerija .galerija__antra {
      order: -1;
      margin-right: 4%; } }
