* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Raleway', sans-serif; }

.section {
  height: 89vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  position: relative; }

.section__galerija {
  height: auto;
  background-image: url("images/linijos-galerija.svg");
  background-position: center center;
  background-size: 90%; }

.section__content {
  display: flex;
  margin-left: 8rem;
  padding: 5rem; }

.section__content--galerija {
  flex-direction: column;
  width: 100%;
  margin-right: 8rem;
  margin-bottom: 10rem; }

.galerija__container {
  display: flex;
  justify-content: center; }
  .galerija__container .container__item {
    flex-grow: 1; }
    .galerija__container .container__item img {
      width: 100%;
      flex-grow: 1; }
  .galerija__container .galerija__antra img {
    height: 100%; }
  .galerija__container .galerija__pirma {
    margin-right: 3%; }
    .galerija__container .galerija__pirma img:first-child {
      margin-bottom: 10%; }

.galerija__pirma {
  display: flex;
  flex-direction: column; }

.section__heading {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 4rem; }

.section__heading::after {
  content: "";
  width: 50px;
  height: 50px;
  background-color: #FFBE08;
  border-radius: 50%;
  position: absolute;
  right: -62.5px;
  top: 12.5px;
  box-shadow: -5px 0px 15px grey; }

.section__heading--galerija {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: 9rem;
  position: relative; }

.section__heading--galerija::after {
  left: -62.5px; }

.skaityti {
  position: absolute;
  font-weight: bold;
  font-size: 1rem;
  bottom: 15vh;
  right: 150px; }

.skaityti::after {
  content: "";
  background-image: url("images/db-arrow.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 12px;
  height: 12px;
  bottom: calc(50% - 6px);
  right: -20px; }

.skaityti--galerija {
  bottom: 150px; }

.section__studijos {
  background-image: url("images/linijos-studijos.svg");
  background-color: #FFBE08;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  min-height: 34rem; }
  .section__studijos .studijos {
    display: flex;
    align-items: center;
    width: 80vw; }
    .section__studijos .studijos .section__heading--studijos {
      position: absolute;
      -webkit-transform: rotate(-90deg);
              transform: rotate(-90deg);
      right: 77vw; }
    .section__studijos .studijos .section__heading--studijos::after {
      background-color: #333338; }
    .section__studijos .studijos .studijos__item {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; }
      .section__studijos .studijos .studijos__item img {
        height: 5rem;
        margin-bottom: 2rem; }
      .section__studijos .studijos .studijos__item h3 {
        margin-bottom: 2rem;
        text-align: center;
        font-size: 1.8rem;
        font-weight: 400; }
      .section__studijos .studijos .studijos__item p {
        line-height: 1.5;
        text-align: center;
        font-size: 1.5; }

.skaityti--galerija, .skaityti--studijos {
  color: black; }

@media (max-width: 1030px) {
  .section__content--galerija {
    align-items: center;
    margin-right: 0;
    margin-left: 0; }
    .section__content--galerija .section__heading--galerija {
      margin-left: 0; }
  .section__studijos .studijos {
    align-items: unset; }
    .section__studijos .studijos .section__heading--studijos {
      left: 0;
      right: 0;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      text-align: center;
      margin-top: 3rem; }
    .section__studijos .studijos .section__heading--studijos::after {
      left: calc(50% - 25px);
      top: calc(-3rem + -25px); } }

@media (max-width: 710px) {
  .section__galerija::before {
    content: url("images/linija-geltona-trumpa.svg");
    width: 2px;
    position: absolute;
    left: calc(50% - 1px); }
  .section__galerija::after {
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 50%;
    background-color: #FFBE08;
    z-index: 99;
    left: calc(50% - 25px);
    top: 6.5vh;
    box-shadow: 0px 7px 40px 1px black; }
  .section__content--galerija {
    padding: 5rem 2rem;
    margin-bottom: 4rem; }
    .section__content--galerija .galerija__container {
      flex-wrap: wrap;
      z-index: 1; }
    .section__content--galerija .section__heading--galerija {
      font-size: 2rem;
      margin-left: 0; }
    .section__content--galerija .section__heading--galerija::before {
      content: url("images/linija-juoda-ilga.svg");
      width: 5px;
      position: absolute;
      left: calc(50% - 1px); }
    .section__content--galerija .section__heading--galerija::after {
      display: none; }
    .section__content--galerija .galerija__pirma {
      margin-right: 0;
      margin-bottom: 10%; }
  .section__studijos {
    background-image: none; }
    .section__studijos .studijos {
      flex-direction: column;
      width: 100%; }
      .section__studijos .studijos .section__heading--studijos {
        font-size: 1.6rem; }
      .section__studijos .studijos .studijos__item {
        align-items: center;
        justify-content: center;
        flex-direction: row;
        z-index: 1;
        background-color: #FFBE08; }
        .section__studijos .studijos .studijos__item img {
          flex-grow: 1;
          height: 2.6rem;
          max-width: 3.3rem;
          padding: 1.8rem;
          margin-bottom: 0; }
        .section__studijos .studijos .studijos__item .textContainer {
          flex-grow: 1;
          max-width: 65vw; }
          .section__studijos .studijos .studijos__item .textContainer h3 {
            margin-bottom: 0.5rem;
            font-size: 1.1rem;
            text-align: left;
            font-weight: 700; }
          .section__studijos .studijos .studijos__item .textContainer p {
            text-align: left;
            font-size: 0.9rem;
            line-height: 1.3; }
      .section__studijos .studijos .studijos__item--first {
        margin-top: 6.5rem; }
      .section__studijos .studijos .studijos__item--third {
        margin-bottom: 4rem; }
  .section__studijos::before {
    content: url(images/v-linija-studijos.svg);
    width: 2.4px;
    position: absolute;
    left: calc(50% - 1px);
    z-index: 0; }
  .section__studijos::after {
    content: url(images/v-linija-studijos.svg);
    width: 2.1px;
    position: absolute;
    left: calc(50% - 1px);
    bottom: 0;
    z-index: 0; }
  .skaityti--galerija, .skaityti--studijos {
    bottom: 50px;
    right: 30px;
    font-size: 0.7rem; }
  .skaityti::after {
    width: 9px;
    height: 10px;
    right: -15px; } }
