:root {
  font-family: 'Raleway', sans-serif;
}
body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0; }

img {
  width: 100%;
  height: auto; }
/* 
Content block

*/
.content {
  width: 100%;
  margin: 0 auto;
  padding-right: 2rem;
  padding-left: 2rem; }
  @media (max-width: 991.98px) {
    .content {
      font-size: 14px; } }
  @media (min-width: 768px) {
    .content {
      font-size: 16px;
      width: 60%;
      max-width: 850px; } }

.content__header {
  display: flex;
  flex-direction: column;
  background-image: url(../Images/IntBg.jpg);
  background-color: #4d4959;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: calc(100vw * 500 / 1366);
  color: white;
  text-align: center;
  margin-bottom: 2rem; }
  @media (max-width: 991.98px) {
    .content__header {
      height: calc(100vw * 500 / 900); } }
  .content__header--overlay {
    position: absolute;
    background: url(/../Images/hbgf.png);
    opacity: 0.7;
    z-index: 0;
    height: calc(100vw * 500 / 1366);
    width: 100%; }
    @media (max-width: 991.98px) {
      .content__header--overlay {
        height: calc(100vw * 500 / 900); } }

.content__breadcrumb {
  font-size: calc(14px + (22 - 14) * ((100vw - 300px) / (1600 - 300)));
  align-self: left;
  color: white;
  z-index: 1;
  margin-top: 8%;
  margin-left: 8%;
  margin-bottom: 0%; }
  @media (min-width: 768px) {
    .content__breadcrumb {
      margin-top: 4%;
      margin-left: 4%;
      margin-bottom: 2%; } }
  .content__breadcrumb .breadcrumb_list {
    text-decoration: none;
    color: white; }
    .content__breadcrumb .breadcrumb_list:hover {
      color: #FFBE08; }

.content__title {
  margin-top: 2%;
  font-size: calc(18px + (68 - 18) * ((100vw - 300px) / (1600 - 300)));
  text-align: left;
  font-weight: 700;
  z-index: 1; }

.content_subtitle {
  font-size: calc(18px + (30 - 18) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 700;
  margin: 3% auto; }

.content__paragraph {
  font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
  margin: 2rem auto;
  line-height: 180%; }
  @media (max-width: 991.98px) {
    .content__paragraph {
      font-weight: 300; } }

.content__gallery {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  text-align: center;
  justify-content: space-between; }

.gallery__photo {
  width: 49%;
  margin-bottom: 2%; }
  .gallery__photo--main {
    width: 100%; }

.gallery__photo__img {
  width: 100%;
  height: auto; }

.pswp__top-bar {
  visibility: hidden; }
